extends layout

block content
  #app
    h3.center Welcome to my site. I like to make games.

    if error
      p Error getting game content.
    else
      p.center Try out my awesome game!
      
  script(src='/javascripts/doctorGame.js')
