extends layout

block content

  #app.container
      .row
        h3.center See Who's who
      main
        .row.indigo-green
          ul.collection(v-if='players.length')
            li.collection__item(v-for='(player, index) in players')
              h4.black-text.flow-text {{ player }}
