extends layout

block content

  #app.container
    .row
      h3.center Submit your score!

    main
      .form_item.row
        .col.s7
          span
            input.form_field(type='text', v-model='itemName', placeholder='Add your username and score', v-on:keyup.13='addItem')
        .col.s3
          span
            p Your best score was {{highScore}}
        .col.s1
          span
            a.btn-floating.indigo.darken-2(v-on:click='addItem')
              i.material-icons add
      .row
        ul(v-if='players.length')
          li(v-for='(player, index) in players')
            h4.black-text.flow-text {{ player }}

    div
      span
        a(href='/') Back to Game
